rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Fonction qui vérifie si l'utilisateur connecté appartient bien à la ferme demandée
    function isUserInFarm(farmCode) {
      return request.auth != null && 
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.farmCode == farmCode;
    }

    // Fonction qui vérifie si l'utilisateur est Super Administrateur
    function isSuperAdmin() {
      return request.auth != null && 
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['SuperAdmin', 'Administrateur'];
    }

    // Collection Utilisateurs
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId; // Un user ne lit que son propre profil
      allow write: if false; // INTERDIT : Seul le backend peut écrire
    }

    // Collection Fermes et toutes ses sous-collections (bassins, suivi, feed, config...)
    match /farms/{farmCode}/{document=**} {
      allow read: if isUserInFarm(farmCode); // Autorisé si le user appartient à cette ferme
      allow write: if false; // INTERDIT : Seul le backend peut écrire
    }

    // Collection Super Admin
    match /superadmin/{document=**} {
      allow read, write: if isSuperAdmin(); // Réservé aux admins
    }
  }
}